<form class="form-horizontal col-lg-6 col-lg-offset-3" style="margin-top:-100px;">
	<div class="form-main">
		<div class="page-header">
			<h2 ng-show="task.newTask">Nova Lista</h2>
			<h2 ng-show="!task.newTask">Editar Lista</h2>
			<div class="input-group">
				<h5>Nome da Lista</h5>
				<input type="text" class="form-control" ng-model="task.nome" placeholder="Nome de tarefa"/>
			</div>
		</div>
		
		<h5>Novo item</h5>
		<div class="input-group">
			<input id="new-todo" class="form-control" type="text" ng-model="item"  size="30"
			placeholder="Novo Item" ng-keyup="addTodo($event,item)"/> 
			<span class="input-group-btn">
				<a class="btn btn-default" ng-click="addTodoClick(item)">Add</a>
			</span>
		</div>
		<div class="page-header">
			<div class=" col-lg-12 input-group" style="margin-top: 15px;">
				<div class="col-lg-9">
					<!--<a ng-click="" class="btn btn-primary pull-right" style=""> Check </a>-->
					<div ng-show="isTodo()">
					<input id="toggle-all" type="checkbox" ng-model="markAll"
					ng-click="toggleMarkAll()"/>
					<label for="toggle-all">Selecionar todos</label>
				</div>
				</div>

				<div class="col-lg-3 pull-right">
					<a id="clear-completed" ng-click="clear()" ng-show="hasDone()" class="btn btn-info" style=""> Remover  <span >{{(task.itens.length - remaining())}} {{itemText()}}</span>
					</a>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div id="todo-list" class="unstyled">
				<div ng-repeat="itemTask in task.itens" ng-dblclick="toggleEditMode()">
					<div class="view" ng-keyup="editTodo()">
						<input type="checkbox" ng-model="itemTask.done"/>
						<span class="done-{{itemTask.done}}">{{itemTask.item}}</span>
					</div>
					<!--<input class="edit" type="text" ng-model="todo.text"
					ng-keyup="editOnEnter(todo)"/>-->
				</div>
			</div>
		</div>

		<div class="col-lg-12 input-group" style="margin-top: 20px;">
			<div class="col-lg-6" >
				<a ng-click="finalizarLista()" class="btn btn-primary"> Finalizar </a>
			</div>
		</div>
	</div>
</form>

