<form class="form-horizontal col-lg-6 col-lg-offset-3" style="margin-top:-100px;">
	<div class="form-main">
		<div class="page-header">
			<h2 ng-show="task.newTask">Nova Lista</h2>
			<h2 ng-show="!task.newTask">Editar Lista</h2>
			<div class="input-group">
				<h5>Nome da Lista</h5>
				<input type="text" class="form-control" ng-model="task.nome" placeholder="Nome de tarefa"/>
			</div>
		</div>
		<h5>Novo item</h5>
		<div class="input-group">
			<input type="text" class="form-control" ng-keypress="addItemKeyPress($event,item)" ng-model="item" placeholder="Novo Item"/>
			<span class="input-group-btn">
				<a class="btn btn-default" ng-click="addItem(item)">Add</a>
			</span>
		</div>
		<div class="panel-body">
			<div class="col-lg-12" ng-repeat="itemTask in task.itens">
				<h4><input type="checkbox">&ensp;{{itemTask.item}}</h4>
			</div>
		</div>
		<div class="input-group" style="margin-top: 20px;">
			<a ng-click="finalizarLista()" class="btn btn-primary"> Finalizar </a>
		</div>
	</div>
</form>

