

<form class="form-horizontal col-lg-4 col-lg-offset-4">
    <div class="alert alert-danger" role="alert" ng-show="!login">
        <p style="font-size: 16px"> Email ou senha incorreto! </p>
    </div>
	
  <fieldset>
	   <div class="form-main">
	   		<div class="page-header">
	  			<h2>Login </h2>
			</div>

		    <div class="form-group">
		        <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
		    </div>
		    <div class="form-group">
		        	<input  type="password" class="form-control" id="inputPassword" placeholder="Senha" ng-model="senha">
		        	<br>
				    <label>
				    	<p><input type="checkbox"> Continuar logado</p>
				    </label>
		    </div>
		    <div class="form-group">
		        	<button type="submit" class="btn btn-primary pull-right" id="btnEntrar" ng-click="logar(email,senha)">Entrar</button>
		    </div>
		    <div class="form-group text-center">
			    <div class="link">
			        	<a href="#novoUsuario"> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Criar Conta</a>
			    </div>
		    </div>
	  </div>
  </fieldset>
</form>